@font-face {
  font-family: "Dumbledor";
  src: url("/font/dum1.ttf");
}
@font-face {
  font-family: "Erotique";
  src: url("/font/ErotiqueTrial-Medium.ttf");
}
@font-face {
  font-family: "Heavitas";
  src: url("/font/Heavitas.ttf");
}
@font-face {
  font-family: "PoetsenOne";
  src: url("/font/PoetsenOne-Regular.ttf");
}

*{
  margin: auto;
  padding: auto;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;

  background: linear-gradient(transparent, #1B1B1B), url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #1B1B1B;

  color: white;
}

.test{
  height: 50px;
  background: rgba(255, 0, 0, 0.6);
}

/* Logo */
.container-fluid.logo{
  text-align: center;
}
.logo img{
  height: 300px;
  width: 300px;
  margin-bottom: 5px;
}
.logo p{
  text-decoration: none;
  color: white;
  font-family: "Dumbledor";
  text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 22px 30px rgba(0, 0, 0, 0.9);
  font-size: 50px;
  line-height: 50px;
}

/* Menu */
.container.menu{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 15%;
  padding-right: 15%;

  text-align: center;
  font-size: 20px;
  font-family: "PoetsenOne";
}
.noDeco{
  color: white;
}
.noDeco:hover{
  color: grey;
}
.container.menu .background{
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

/* Container Index */
.container.main{
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
  text-align: center;
}
.tab{
  background: rgba(0,0,0,0.8);
  margin-top: 50px;
  padding-bottom: 15px;

  text-align: center;
  border-radius: 10px;
  border: 2px solid darkblue;
}
.list-group-item{
  background: transparent;
}
.list-group-item.header{
  padding-top: 20px;
  font-size: 35px;
  font-family: "Erotique";
}
.divider{
  border-bottom: 2px solid darkblue;
  width: 100%;
  list-style-type: none;
  margin-bottom: 5px;
}
.tab img{
  width: 100%;
  border-radius: 30px
}
.list-group-item{
  margin: 0;
}

/* Guild */
.item.guild{
  margin: 30px 10px;
  padding: 20px 5px;

  background: rgba(0,0,0,0.6);
  border-radius: 30px;
}
.item.guild h2{
  margin-bottom: 40px;
  padding: 10px;
  width: 300px;;

  border: 2px solid grey;
  border-radius: 5px;
  background-color: black;
}
.item.guild h3{
  margin-top: 15px;
  font-size: 23px;
}
.item.guild.title{
  display: inline-block;
  width: 40%;

  background: rgba(0,0,0,0.8);
  text-align: center;
}
.player{
  padding-left: 10px;
  padding-right: 10px;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-bottom: 0;

  font-size: 18px;
  font-weight: bold;

}

.magic{
  background: blue;
  border: 2px solid gold;
  border-radius: 2px;
}
.health{
  background: red;
  border: 2px solid gold;
  border-radius: 2px;
}
.vigor{
  background: green;
  border: 2px solid gold;
  border-radius: 2px;
}
.spell{
  padding-left: 0;
  padding-right: 0;
  border: 1px solid grey;
  border-radius: 1px;
}
.spell img{
  width: 100%;
}
/* Footer */
.container-fluid.footer{
  margin-top: 10px;
  padding-top: 5px;
  bottom: 0;
  z-index: 30;

  text-align: center;

  background-color: #1B1B1B;
}
.disclaimer{
  font-size: 15px;
}
.copyright{
  font-size: 12px;
  opacity: 0.6;
  letter-spacing: 1px;
}
